---
import Layout from '../layouts/Layout.astro';
import OffreCard from '../components/OffreCard.astro';


import { getOffres } from '../js/backend.mjs';

const offres = await getOffres();
---

<Layout titre="Offres">
    <p>Découvrez notre sélection de propriétés disponibles.</p>
    
    <button id="favori-button" class="bg-yellow-200 rounded-lg text-gray-800 p-2 border">Afficher les favoris</button>
    <div class="grid grid-cols-3 gap-4">
        {
            offres.map(offre => (
                <div class="offre" data-favori={offre.favori.toString()}>
                    <OffreCard offre={offre} />
                </div>
            ))
        }
    </div>
</Layout>

<script>
    const button = document.getElementById('favori-button') as HTMLElement;
    let showOnlyFavorites = false;
    
    button?.addEventListener('click', () => {
        showOnlyFavorites = !showOnlyFavorites;
        const offres = document.querySelectorAll('.offre') as NodeListOf<HTMLElement>;
        
        offres.forEach(offre => {
            const isFavori = (offre as HTMLElement).dataset.favori === 'true';
            
            if (showOnlyFavorites) {
                (offre as HTMLElement).style.display = isFavori ? 'block' : 'none';
                button.textContent = 'Afficher tout';
            } else {
                (offre as HTMLElement).style.display = 'block';
                button.textContent = 'Afficher les favoris';
            }
        });
    });
</script>