<nav class="bg-slate-700 px-8 py-4 mb-8">
    <a href="/" class="text-white mr-8 font-semibold hover:text-blue-400 transition-colors">Accueil</a>
    <a href="/offres" class="text-white mr-8 font-semibold hover:text-blue-400 transition-colors">Offres</a>
</nav>