---
import Layout from '../../layouts/Layout.astro';
import { addOffre } from '../../js/backend.mjs';

let message = '';
if (Astro.request.method === "POST") {
    const formData = await Astro.request.formData();
    const response = await addOffre(formData);
    message = response.message;
}
---

<Layout titre="Ajouter une offre">
    {message && <p>{message}</p>}
    
    <h1 class="text-lg">Ajouter une offre</h1>
    <form action="/offres/add" method="POST" enctype="multipart/form-data">
        <input type="text" name="nomMaison" placeholder="Nom de la maison" required minlength="3" class="w-full mt-3 p-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-transparent shadow-sm" />
        <input type="number" name="prix" placeholder="Prix" min="0" required class="w-full mt-3 p-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-transparent shadow-sm" />
        <input type="number" name="nbSdb" placeholder="Nombre de salles de bain" min="0" class="w-full mt-3 p-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-transparent shadow-sm" />
        <input type="number" name="nbChambres" placeholder="Nombre de chambres" min="0" class="w-full mt-3 p-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-transparent shadow-sm" />
        <input type="number" name="surface" placeholder="Superficie" min="0" required class="w-full mt-3 p-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-transparent shadow-sm" />
        <input type="file" name="images" required class="w-full mt-3 p-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-transparent shadow-sm" />
        <button type="submit" class="w-full mt-4 p-3 bg-blue-500 text-white font-bold rounded-lg hover:bg-blue-600 shadow-md">Ajouter</button>
    </form>
</Layout>